@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h1>Twilio Server Starter Kit Environment Setup</h1>
    <h2>Account Information</h2>
    <table class="table table-striped">
        <tr>
            <td class="config-key">TWILIO_ACCOUNT_SID</td>
            <td class="config-value" id="twilioAccountSID"></td>
        </tr>
        <tr>
            <td class="config-key">TWILIO_API_KEY</td>
            <td class="config-value" id="twilioAPIKey"></td>
        </tr>
        <tr>
            <td class="config-key">TWILIO_API_SECRET</td>
            <td class="config-value" id="twilioAPISecret"></td>
        </tr>
    </table>
    <h2>Products</h2>
    <table class="table table-striped">
        <tr>
            <td class="config-product">Video</td>
            <td class="config-key">TWILIO_CONFIGURATION_SID</td>
            <td class="config-value" id="twilioConfigurationSID"></td>
        </tr>
        <tr>
            <td class="config-product">Notify</td>
            <td class="config-key">TWILIO_NOTIFICATION_SERVICE_SID</td>
            <td class="config-value" id="twilioNotificationServiceSID"></td>
        </tr>
        <tr>
            <td class="config-product">Chat</td>
            <td class="config-key">TWILIO_CHAT_SERVICE_SID</td>
            <td class="config-value" id="twilioChatServiceSID"></td>
        </tr>
        <tr>
            <td class="config-product">Sync</td>
            <td class="config-key">TWILIO_SYNC_SERVICE_SID</td>
            <td class="config-value" id="twilioSyncServiceSID"></td>
        </tr>
    </table>

    <h1>Demos</h1>
    <a id="videoDemoButton" class="btn btn-lg btn-default" href="/video/">Video</a>
    <a id="syncDemoButton" class="btn btn-lg btn-default" href="/sync/">Sync</a>
    <a id="notifyDemoButton" class="btn btn-lg btn-default" href="/notify/">Notify</a>
    <a id="chatDemoButton" class="btn btn-lg btn-default" href="/chat/">Chat</a>
</div> <!-- container -->