@{
    ViewData["Title"] = "Hello App! - Notify Quickstart";
}
@section AddToHead{
    <link href="@Url.Content("~/notify.css")" rel="stylesheet" type="text/css" />
}

<header>
    <a href="https://www.twilio.com/docs/api/notifications"
       target="_blank">
        Read the Twilio Notify guide
        <i class="fa fa-fw fa-external-link"></i>
    </a>
</header>

<section>
    <h1>Send Notification to Identity</h1>

    <input type="text" id="identityInput" placeholder="Identity" size="30" />
    <p />
    <input type="submit" id="sendNotificationButton" value="Send Notification" />

    <div id="message">
        Welcome to Notify!
    </div>

    <p>After you set up a notification binding, go ahead and send a notification to that identity!</p>
</section>

<script src="~/scripts/notify-quickstart.js"></script>